/*********************************
 
        Body

*********************************/
/*
a,
div {
   border: 1px solid #ccc !important;
}*/

body {
  font: 13px arial, sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  text-decoration: underline;
}

/*********************************
 
        Navbar

*********************************/

nav {
  margin-top: 15px;
  height: 30px;
}

.nav-container {
  display: inline-block;
  float: right;
  line-height: 28px;
  padding-right: 30px;
  position: relative;
}

.nav-container a {
  display: inline-block;
  padding-right: 15px;
}

.apps {
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
  bottom: 0;
  background: #fff url("https://ssl.gstatic.com/gb/images/i2_2ec824b0.png") 50% 50%;
  background-size: 528px 68px;
  background-position: -132px -38px;
  vertical-align: middle;
}

.nav-btn {
  display: inline-block;
  background: rgb(66,133,244);
  color: #fff;
  border-radius: 2px;
  padding: 0 12px 0 12px;
  font-weight: 700;
  margin-left: 15px;
}

/*********************************
 
        Google Logo

*********************************/

.logo {
  margin-top: 69px;
}

.logo img {
  display: block;
  height: 92px;
  width: 272px;
  margin: 0 auto;
  margin-top: 109px;
}

/*********************************
 
        Search Form

*********************************/



.search-form {
  margin: 30px auto 50px auto;
  width: 1139px;
}

.search-bar {
  margin: 0 auto;
  border: 1px solid #ddd;
  height: 38px;
  width: 638px;
}

.search-bar:hover {
  border: 1px solid #ccc;
}

.search-bar input {
  border: none;
  font-size: 16px;
  padding: 9px;
  width: 525px;
}

.search-bar-img {
  width: 25px;
  height: 38px;
  display: inline-block;
  padding: 0 8px;
  float: right;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC") 50% 50% no-repeat;
  background-size: 24px 24px;
}


.search-btn {
  background: rgb(242, 242, 242);
  border: 1px solid rgb(242, 242, 242);
  border-radius: 2px;
  color: rgb(117, 117, 117);
  font-weight: 700;
  font-size: inherit;
  height: 36px;
  padding: 0 16px;
  margin: 11px 4px;
}

.search-btn:hover {
  border: 1px solid #ccc;
  color: black;
}

.search-btn-container {
  margin: 0 auto;
  padding: 20;
  width: 300px;
}

/*********************************
 
        Footer

*********************************/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(34, 34, 34);
  background: rgb(242, 242, 242);
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #ddd;
}

.business-container {
  float: left;
  display: inline-block;
}

.legal-container {
  float: right;
  display: inline-block;
}

a {
  display: inline-block;
}

.business-container a {
  padding-left: 40px;
}

.legal-container a {
  padding-right: 40px;
}




